
.mediaViewInfo {
    --web-view-name: login;
    --web-view-id: login;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-center-vertically: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: login
}

.body{
    background-color: rgba(245,245,245,1);
}

* {
    margin: 20px;
    box-sizing: border-box;
    border: none;
    font-family: Monaco, serif;
    font-style: normal;
    font-weight: normal;
}


a:hover {
    color: #457DFB;
    text-decoration: none;
}

a:hover::after {
    border-color: #457DFB;
    right: 0;
}

a {
    color: #2F56B0;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}

a::after {
    border-radius: 1em;
    border-top: .1em solid #2F56B0;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0,.5,0,1),
    border-color .4s ease-out;
}


#main {
    width: 960px;
    margin: auto;
    padding-top: 15px;


}

#title{
    color: #3B434D;
    text-align: center;
    align-content: center;
    padding-bottom: 10px;
}

#nav{
    float: left;
    color: #3B434D;
}

#user-nav{
    float: right;
    color: #3B434D;
}

.nav-button{
    font-size: 18px;
    text-align: right;
}

.user-nav-button{
    font-size: 18px;
    text-align: left;
}
#user-button{
    text-decoration: underline;
}

#user-container{
    width: 60%;
    margin: auto;
    padding: 30px 0 5px 0;
    text-align: center;
    color: #EBEBEB;
    background-color: #3B434D;
    line-height: 2px;
}

.user-box{
    background-color: #3B434D;
}

.user-title{
    font-size: 20px;
    text-decoration: overline;
}

#user-portal{
    padding-left: 20px;
    text-align: left;
}
.user-text{
    font-size: 18px;
}

#raven-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

#raven-img{
    width: 40px;
    height: 40px;
}

#slogan{
    padding-top: 15%;
    text-align: center;
    color: #707070;
}

.decoration {
    font-size: 500px;
    color: rgba(59,67,77,0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    background-color: rgba(59,67,77,0);
}


#footer{
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-size: 12px;
    color: rgba(59,67,77,0.4);

}
